<h1>Site::Welcome#index</h1>


<% if user_signed_in? %>
    <p>sim</p>
        <p><%= current_user.email%> </p>
<%else%>
    <p>não</p>
<% end %>

<% if admin_signed_in? %>
    <p>sim</p>
<%else%>
    <p>não</p>
<% end %>